@use "bootstrap/scss/bootstrap";  // or @use "bootstrap/scss/bootstrap" as *;
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");

:root {
  --primary-color: #4e6813; // Dill Green
  --secondary-color: #f0e7da; // Alpine Oat
  --delete-color: #74070E; // Cherry Red
  --font-family: "Nunito", sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
